.clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.clients__item {
    @include card-set(2, 30px);
   
    @media screen and (min-width: 768px) {
        @include card-set(3, 30px);
    }

    @media screen and (min-width: 1200px) {
        @include card-set(6, 30px);
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 32px;

    border: 1px solid $icon-fill;
    border-radius: 4px;

    transition-property: border;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover {
        border-color: $button-background;
    }
}



.clients__icon {
    fill: $icon-fill;

    .clients__link:hover & {
        fill: $button-background;
    }
}

