.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $dark-background;
}

.footer__container {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }
    
    @media screen and (min-width: 1200px){
        text-align: left;
    }
}

.footer__address {
    margin-top: 20px;

    font-style: normal;
    line-height: 1.71;
}



.footer__socials {
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 90px;
    }
}

.footer__title {
    margin-bottom: 20px;

    text-transform: uppercase;
    font-weight: 700;
    color: $light-color;
}

.socials__link--footer {
    background: rgba(255, 255, 255, 0.1);
}

.footer__subscription {
    @media screen and (max-width: 1199px){
        margin: 0 auto;
        margin-top: 60px;
    }
    @media screen and (min-width: 1200px){
        margin-top: 0;
        margin-left: auto;
    }
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.footer__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 16px;

    margin-bottom: 20px;
    color: $light-color;

    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    outline: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        border-color: $accent-color;
    }

    @media screen and (min-width: 768px){
        width: 450px;
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}


.footer__button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}