.address__info {
    margin-bottom: 9px;
    color: $light-color;
}

.address__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address__link {
    color: rgba(255, 255, 255, 0.6);

    transition-property: opacity;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.7;
    }
}
