.mobile-button {
    display: block;
    height: 40px;
    width: 40px;
    margin-left: auto;

    background-color: transparent;
    border: none;

    &--open {
        @media screen and (min-width: 768px) {
                display: none;
            }
    }

    &--close {
        position: fixed;
        top: 10px;
        right: 15px;
    }
}

.mobile-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background-color: $light-color;

    transition-duration: opacity, transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        transform: translateX(50%);
    }
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile-nav__link {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.8px;

    color: $dark-color;

    &--current,
    &:hover,
    &:active,
    &:focus {
        color: $accent-color;
    }
}

.mobile-info__item {
    &:first-child {
        margin-bottom: 32px;
    }
}

.mobile-info__link {
    font-size: 24px;
    line-height: 1.17;
    color: $main-color;

    .mobile-info__item:first-child & {
        font-size: 34px;
        color: $accent-color;
    }
}

.mobile-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mobile-socials__item {
    position: relative;

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: -10px;
        height: 100%;
        width: 1px;

        background-color: rgba(33, 33, 33, 0.20);
    }
}

.mobile-socials__link {
    font-size: 18px;
    color: $accent-color;
    line-height: 1.22;
}

.no-scroll {
    overflow: hidden;
}