.sub-title {
    margin-bottom: 30px;

    font-size: 28px;
    letter-spacing: 0.03em;
    line-height: 1.18;
    text-align: center;
    color: $dark-color;
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        line-height: 1.17;
        font-size: 36px;
    }

}